
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #010101;
}
.box{
    width:45px;
    height:45px;
    background-color: #fff;
    border-radius: 50%;
    corner-shape:scoop;
    filter: drop-shadow(0 0 10px #fff);
}
.marquee-wrapper{
    height: 40vh;
    width: 100%;
    display: flex;
    overflow: hidden;
    align-items: center;
    
}
.marquee-track{
    height: 30%;
    width: 100%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    animation: marquee 10s linear infinite;
}

@keyframes marquee{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}

.carousel-scene{
    width: 100%;
    height: 100vh;
    perspective: 1300px;
    overflow: hidden;
} 
.carsousel{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    position: relative;
    animation: rotate 18s linear infinite;
   
}   
.carousel-item{
    width: 15%;
    height: 30%;
    position: absolute;
}
.carousel:has(.carousel-item:hover) {
    animation-play-state: paused;
}
.carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.carousel-item:nth-child(1){
    transform: rotateY(0deg) translateZ(600px);
}
.carousel-item:nth-child(2){
    transform: rotateY(45deg) translateZ(600px);
}
.carousel-item:nth-child(3){
    transform: rotateY(90deg) translateZ(600px);
}
.carousel-item:nth-child(4){
    transform: rotateY(135deg) translateZ(600px);
}
.carousel-item:nth-child(5){
    transform: rotateY(180deg) translateZ(600px);
}
.carousel-item:nth-child(6){
    transform: rotateY(225deg) translateZ(600px);
}
.carousel-item:nth-child(7){
    transform: rotateY(270deg) translateZ(600px);
}
.carousel-item:nth-child(8){
    transform: rotateY(315deg) translateZ(600px);
}

@keyframes rotate{
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}